@model IEnumerable<GreenSol.Domain.Entities.Order>
@{
    ViewBag.Title = "Order details";
}

<style type="text/css">
    td {
        border: none !important;
        padding: 10px !important;
    }
</style>

<h2 style="margin-bottom:50px">Order details</h2>

<table class="table table-condensed table-responsive">
    <thead>
        <tr>
            <th>Album</th>
            <th>Unit price</th>
            <th>Quantity</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Album.Name </td>
                <td>@item.UnitPrice</td>
                <td>@item.Quantity</td>
            </tr>
        }
    </tbody>
</table>

