/* SLIDER STRUCTURE */
.slider {
   background: black;
   border: 7px solid rgb(204, 194, 194);
   box-shadow: -8px 5px 30px rgba(0,0,0,0.7);
   width: 100%;
   overflow: visible;
   position: relative;
   transition: 0.5s
}

/*The mask class will hide all of the elements that lie outside of the slider; its height must be equal to the height of the slider.*/
/* HIDE ALL OUTSIDE OF THE SLIDER */

.mask {
   overflow: hidden;
   height: 100%;
}

/*Finally, to sort the list of images, we’ll have position: absolute and top: -23.4vw so that all of the images are positioned outside of the slider.*/
/* IMAGE LIST */

.slider ul {
   margin: 0;
   padding: 0;
   position: relative;
}

.slider li {
   width: 100%;  /* Width Image */
   position: absolute;
   list-style: none;
}

/*.slider li img {
    border: 7px solid rgba(255, 255, 255, 0.7);
    box-shadow: -8px 5px 30px 0 rgba(0,0,0,0.6);
}*/

.sidebar-close .slider li{
     left: -23.4vw; /* Original Position - Outside of the Slider */
}

.sidebar-open .slider li{
     left: -18.3vw; /* Original Position - Outside of the Slider */
}

.slider ul li a img{
    width:100%;
    height:100%;
}

/*5 images - 5 secs for each - 25 secs in total
100 keyframes in total / 25secs in total = 4 keyframes per second
*/

.sidebar-close .slider li.animation-1 {
   animation: c_cycle 25s linear infinite;
}

.sidebar-close .slider li.animation-2 {
   animation: c_cycletwo 25s linear infinite;
}

.sidebar-close .slider li.animation-3 {
   animation: c_cyclethree 25s linear infinite;
}

.sidebar-close .slider li.animation-4 {
   animation: c_cyclefour 25s linear infinite;
}

.sidebar-close .slider li.animation-5 {
   animation: c_cyclefive 25s linear infinite;
}

/*If sidebar is opened*/
.sidebar-open .slider li.animation-1 {
   animation: o_cycle 25s linear infinite;
}

.sidebar-open .slider li.animation-2 {
   animation: o_cycletwo 25s linear infinite;
}

.sidebar-open .slider li.animation-3 {
   animation: o_cyclethree 25s linear infinite;
}

.sidebar-open .slider li.animation-4 {
   animation: o_cyclefour 25s linear infinite;
}

.sidebar-open .slider li.animation-5 {
   animation: o_cyclefive 25s linear infinite;
}


/* ANIMATION
The first animation has more keyframes than the rest. The reason for this is that when the gallery is started, the first image is positioned to make way for the second image; but when the last image has finished its animation, the first image has to have additional keyframes in order for the user not to see a break between animation cycles.
*/

@keyframes c_cycle {
    
   0%  { left: 0px; } 							/*0 When you start the slide, the first image is already visible */	
   4% { left: 0px; } 							/*4 Original Position */
   16% { left: 0px; opacity:1; z-index:0; } 		/*16 From 4% to 16 % = for 3 seconds the image is visible */
   20% { left: 23.4vw; opacity: 0; z-index: 0; } 	/*20 From 16% to 20% = for 1 second exit image */
   21% { left: -23.4vw; opacity: 0; z-index: -1;}	/*21 Return to Original Position */
   92% { left: -23.4vw; opacity: 0; z-index: 0; }	/*92*/
   96% { left: -23.4vw; opacity: 0; } 			/*96 From 96% to 100% = for 1 second enter image*/
   100%{ left: 0px; opacity: 1; }				/*100*/
}

@keyframes c_cycletwo {
   0%  { left: -23.4vw; opacity: 0; } 			/*0 Original Position */
   16% { left: -23.4vw; opacity: 0; }				/*16 Starts moving after 16% to this position */
   20% { left: 0px; opacity: 1; }				/*20*/
   24% { left: 0px; opacity: 1; }  				/*24 From 20% to 24% = for 1 second enter image*/
   36% { left: 0px; opacity: 1; z-index: 0; }   	/*36 From 24% to 36 % = for 3 seconds the image is visible */
   40% { left: 23.4vw; opacity: 0; z-index: 0; } 	/*40 From 36% to 40% = for 1 second exit image */ -->
   41% { left: -23.4vw; opacity: 0; z-index: -1; }/*41 Return to Original Position */
   100%{ left: -23.4vw; opacity: 0; z-index: -1; }	/*100*/
}

@keyframes c_cyclethree {
   0%  { left: -23.4vw; opacity: 0; }
   36% { left: -23.4vw; opacity: 0; }
   40% { left: 0px; opacity: 1; }
   44% { left: 0px; opacity: 1; }
   56% { left: 0px; opacity: 1; }
   60% { left: 23.4vw; opacity: 0; z-index: 0; }
   61% { left: -23.4vw; opacity: 0; z-index: -1; }
   100%{ left: -23.4vw; opacity: 0; z-index: -1; }
}

@keyframes c_cyclefour {
   0%  { left: -23.4vw; opacity: 0; }
   56% { left: -23.4vw; opacity: 0; }
   60% { left: 0px; opacity: 1; }
   64% { left: 0px; opacity: 1; }
   76% { left: 0px; opacity: 1; z-index: 0; }
   80% { left: 23.4vw; opacity: 0; z-index: 0; }
   81% { left: -23.4vw; opacity: 0; z-index: -1; }
   100%{ left: -23.4vw; opacity: 0; z-index: -1; }
}
@keyframes c_cyclefive {
   0%  { left: -23.4vw; opacity: 0; }
   76% { left: -23.4vw; opacity: 0; }
   80% { left: 0px; opacity: 1; }
   84% { left: 0px; opacity: 1; }
   96% { left: 0px; opacity: 1; z-index: 0; }
   100%{ left: 23.4vw; opacity: 0; z-index: 0; }
}

/*If Sidebar is opened*/
@keyframes o_cycle {
    
   0%  { left: 0px; } 							
   4% { left: 0px; } 							
   16% { left: 0px; opacity:1; z-index:0; } 	
   20% { left: 18.3vw; opacity: 0; z-index: 0; } 	
   21% { left: -18.3vw; opacity: 0; z-index: -1;}	
   92% { left: -18.3vw; opacity: 0; z-index: 0; }
   96% { left: -18.3vw; opacity: 0; } 			
   100%{ left: 0px; opacity: 1; }
}

@keyframes o_cycletwo {
   0%  { left: -18.3vw; opacity: 0; }
   16% { left: -18.3vw; opacity: 0; }
   20% { left: 0px; opacity: 1; }				
   24% { left: 0px; opacity: 1; }  				
   36% { left: 0px; opacity: 1; z-index: 0; }   
   40% { left: 18.3vw; opacity: 0; z-index: 0; } 	
   41% { left: -18.3vw; opacity: 0; z-index: -1; }
   100%{ left: -18.3vw; opacity: 0; z-index: -1; }
}

@keyframes o_cyclethree {
   0%  { left: -18.3vw; opacity: 0; }
   36% { left: -18.3vw; opacity: 0; }
   40% { left: 0px; opacity: 1; }
   44% { left: 0px; opacity: 1; }
   56% { left: 0px; opacity: 1; }
   60% { left: 18.3vw; opacity: 0; z-index: 0; }
   61% { left: -18.3vw; opacity: 0; z-index: -1; }
   100%{ left: -18.3vw; opacity: 0; z-index: -1; }
}

@keyframes o_cyclefour {
   0%  { left: -18.3vw; opacity: 0; }
   56% { left: -18.3vw; opacity: 0; }
   60% { left: 0px; opacity: 1; }
   64% { left: 0px; opacity: 1; }
   76% { left: 0px; opacity: 1; z-index: 0; }
   80% { left: 18.3vw; opacity: 0; z-index: 0; }
   81% { left: -18.3vw; opacity: 0; z-index: -1; }
   100%{ left: -18.3vw; opacity: 0; z-index: -1; }
}
@keyframes o_cyclefive {
   0%  { left: -18.3vw; opacity: 0; }
   76% { left: -18.3vw; opacity: 0; }
   80% { left: 0px; opacity: 1; }
   84% { left: 0px; opacity: 1; }
   96% { left: 0px; opacity: 1; z-index: 0; }
   100%{ left: 18.3vw; opacity: 0; z-index: 0; }
}


/* PROGRESS BAR */

/*.progress-bar {
   position: relative;
   top: -5px;
   width: 680px;
   height: 5px;
   background: #000;
   animation: fullexpand 25s ease-out infinite;
}*/

/* ANIMATION BAR */

@keyframes fullexpand {
   /* In these keyframes, the progress-bar is stationary */
   0%, 20%, 40%, 60%, 80%, 100% { width: 0%; opacity: 0; }

   /* In these keyframes, the progress-bar starts to come alive */
   4%, 24%, 44%, 64%, 84% { width: 0%; opacity: 0.3; }

   /* In these keyframes, the progress-bar moves forward for 3 seconds */
   16%, 36%, 56%, 76%, 96% { width: 100%; opacity: 0.7; }

   /* In these keyframes, the progress-bar has finished his path */
   17%, 37%, 57%, 77%, 97% { width: 100%; opacity: 0.3; }

   /* In these keyframes, the progress-bar will disappear and then resume the cycle */
   18%, 38%, 58%, 78%, 98% { width: 100%; opacity: 0; }
}

/*TOOL TIPS*/
.slider .tooltip {
   background: rgba(0,0,0,0.7);
   height: 60px;
   position: relative;
   bottom: -7px;
   font-family: "Yanone Kaffeesatz", HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.slider .tooltip h1 {
   color: #fff;
   font-size: 24px;
   font-weight: 300;
   line-height: 60px;
   padding: 0 0 0 10px;
}

/*ANIMATE TOOLTIP ON HOVER*/
.slider .tooltip {
   transition: all 0.3s ease-in-out;
}

.slider li#li-1:hover .tooltip,
.slider li#li-2:hover .tooltip,
.slider li#li-3:hover .tooltip,
.slider li#li-4:hover .tooltip,
.slider li#li-5:hover .tooltip {
   bottom: 60px;
   opacity:1
}

/*PAUSE, RESTART*/
.slider:hover li,
.slider:hover .progress-bar {
   animation-play-state: paused;
}

